.drink-container {
    margin-top: 5%;
    width: 40%;
    margin-left: 30%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15); 
    text-align: left;
}

    
.drink-container-header {
    background: linear-gradient(90deg, rgba(0,0,255,1) 0%, rgba(25,64,255,1) 100%);
    color: white;
    width: 100%;
    display: block;
    padding-top: 2%;
    padding-bottom: 2%;
    border-top-right-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.15); 
    
}


.info {
    display: grid;
    width: 100%;
    grid-template-columns:2fr 1fr;
}

.ingredient {
    width: 100%;
 
}

.instructions {
    width: 80%;
    margin-left: 10%;
}

.headline {
    color:grey;
    
}

.share-container-hidden {
    display: none;
}
  
.share-container-show {
    display: block;
    width: 20%;
    background-color: white;
    margin: 0 auto;
    

}
  